@use "../setting/variables" as s;

html {
  scroll-behavior: smooth;
  background-color: s.$colorBlack;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

p {
  visibility: hidden;
}

.wf-active p {
  visibility: visible;
}

a {
  visibility: hidden;
}

.wf-active a {
  visibility: visible;
}
