@use "../setting/variables" as s;

/*******************************
| consultation(front-page.php)
*******************************/

.u-contentWidth {
  width: 100%;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.u-btn {
  display: block;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 172px;

  z-index: 200;
}

.u-btnLink {
  position: relative;
  z-index: 1;
  transition: 0.3s;
  display: block;
  overflow: hidden;
  height: 100%;
  color: s.$colorWhite;
  font-size: 2.8rem;
  font-family: s.$fontFamily;
  font-weight: bold;
  line-height: 1.143;
  letter-spacing: 0.05em;
}

.u-btnLink::before {
  content: "";
  position: absolute;
  top: 3%;
  left: 0;
  z-index: -1;
  width: 96%;
  height: 83%;
  background-color: s.$colorYellow;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}

.u-btnLink:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.u-btnLink--marginTop {
  margin-top: 120px;

  @include s.mq(l-pc) {
    margin-top: 180%;
  }
  @include s.mq(l-tab) {
    margin-top: 160%;
  }
  @include s.mq(tab) {
    margin-top: 20px;
  }
}

.u-btnText {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.u-btnLink:hover .u-btnText {
  color: s.$colorBlack;
}

.u-headingLv1 {
  color: s.$colorWhite;
  font-size: 6rem;
  font-family: s.$fontFamily;
  font-weight: bold;
  line-height: 1.143;
  letter-spacing: 0.05em;
  text-align: center;
}

.u-headingLv2 {
  color: s.$colorWhite;
  font-size: 2.4rem;
  font-family: s.$fontFamily2;
  line-height: 1.143;
  letter-spacing: 0.05em;
  text-align: center;
}

.u-brTab {
  display: none;
  @include s.mq(tab) {
    display: block;
  }
}

// フェードイン
.fade-in {
  opacity: 0;
  transition-duration: 700ms;
  transition-property: opacity, transform;
}

.fade-in-up {
  transform: translate(0, 50px);
}

.fade-in-down {
  transform: translate(0, -50px);
}

.fade-in-left {
  transform: translate(-50px, 0);
}

.fade-in-right {
  transform: translate(50px, 0);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}
