@use "../../setting/variables" as s;

/*******************************
| concept(concept.php)
*******************************/

.concept__headingWrap {
  position: relative;
}

.concept__headingLv2 {
  content: "";
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: block;
  margin-top: 80px;
  margin-left: 55px;
  padding-top: 120px;
  padding-left: 110px;
  background-image: url(../img/titleBackGround.webp);
  width: 460px;
  height: 240px;
  font-size: 6.4rem;
  font-weight: bold;
  font-family: s.$fontFamily;
  color: s.$colorYellow;
  -webkit-text-stroke: 1px s.$colorBlack;

  @include s.mq(l-pc) {
    padding-top: 128px;
    padding-left: 120px;
  }
  @include s.mq(tab) {
    left: 42%;
    transform: translateX(-42%);
    -webkit-transform: translateX(-42%);
    -ms-transform: translateX(-42%);
    width: 280px;
    height: 136px;
    background-size: 100%;
    padding-top: 72px;
    padding-left: 68px;
  }
  @include s.mq(x-tab) {
    left: 40%;
    padding-top: 58px;
    padding-left: 54px;
    width: 240px;
    height: 110px;
  }
  @include s.mq(x-sp) {
    left: 36%;
    padding-top: 44px;
    padding-left: 40px;
    width: 180px;
    height: 100px;
    font-size: 5rem;
  }
}

.concept__mediaWrap {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;

  @include s.mq(tab) {
    display: block;
  }
}

.concept__mediaWrap:nth-of-type(1) {
  @include s.mq(tab) {
    position: relative;
  }
}

.concept__mediaWrap:nth-of-type(2) {
  flex-direction: row-reverse;

  @include s.mq(tab) {
    position: relative;
  }
}

.concept__mediaText {
  font-size: 1.8rem;
  font-family: s.$fontFamily2;
  line-height: 1.278;
  letter-spacing: 0.05em;
  color: s.$colorWhite;
}

.concept__mediaText:nth-child(1) {
  background-image: url(../img/speechBubble.webp);
  object-fit: cover;
  background-size: 100% 100%;
  width: 52%;
  min-width: 440px;
  padding: 9% 11% 8% 7%;

  @include s.mq(tab) {
    background-image: url(../img/speechBubble2.webp);
    position: absolute;
    top: 103%;
    left: 0;
    width: 100%;
    min-width: 0;
    padding: 15% 13% 13% 9%;
  }
  @include s.mq(x-sp) {
    padding: 21% 11% 17% 10%;
  }
}

.concept__mediaWrap:nth-of-type(2) .concept__mediaText {
  background-image: url(../img/frame.webp);
  object-fit: cover;
  background-size: 100% 100%;
  width: 40%;
  min-width: 440px;
  padding: 10% 5% 5% 5%;

  @include s.mq(tab) {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 1;
    width: 75%;
    min-width: 0;
    background-size: 100% 100%;
    object-fit: cover;
    padding: 5% 7% 5% 7%;
  }
  @include s.mq(sp) {
    padding: 5% 10% 5% 10%;
  }
  @include s.mq(x-sp) {
    padding: 7% 10% 7% 10%;
    width: 85%;
  }
}

.concept__mediaImg {
  width: 40%;

  @include s.mq(tab) {
    width: 100%;
  }
}

.concept__mediaWrap:nth-of-type(2) .concept__mediaImg {
  @include s.mq(tab) {
    padding-top: 40%;
  }

  @include s.mq(x-sp) {
    padding-top: 55%;
  }
}
