@use "../../setting/variables" as s;

/*******************************
| topMenu(topMenu.php)
*******************************/

.topMenu__headingLv2 {
  content: "";
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: block;
  // margin-top: 80px;
  margin-left: 40px;
  padding-top: 108px;
  padding-left: 128px;
  background-image: url(../img/titleBackGround3.webp);
  width: 460px;
  height: 240px;
  font-size: 6.4rem;
  font-weight: bold;
  font-family: s.$fontFamily;
  color: s.$colorWhite;
  -webkit-text-stroke: 1px s.$colorBlack;

  @include s.mq(l-pc) {
    padding-top: 112px;
    padding-left: 140px;
  }

  @include s.mq(tab) {
    left: 45%;
    transform: translateX(-45%);
    -webkit-transform: translateX(-45%);
    -ms-transform: translateX(-45%);
    width: 280px;
    height: 136px;
    background-size: 100%;
    margin-top: 5%;
    padding-top: 76px;
    padding-left: 96px;
  }

  @include s.mq(x-tab) {
    left: 42%;
    padding-top: 62px;
    padding-left: 80px;
    width: 240px;
    height: 110px;
  }
  @include s.mq(x-sp) {
    left: 36%;
    padding-top: 46px;
    padding-left: 60px;
    width: 180px;
    height: 100px;
    font-size: 5rem;
  }
}

.topMenu__tableContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: s.$colorWhite;
  white-space: nowrap;

  @include s.mq(tab) {
    display: block;
  }
}

.topMenu__tableInner {
  margin-left: auto;
  margin-right: auto;
}

.topMenu__tableHeadCell {
  padding-left: 88px;
  padding-bottom: 20px;
  font-family: s.$fontFamily;
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 1.188;
  letter-spacing: 0.05em;
  color: s.$colorBlack;
  text-shadow: -2px -2px 0 s.$colorWhite, 2px -2px 0 s.$colorWhite,
    -2px 2px 0 s.$colorWhite, 2px 2px 0 s.$colorWhite;
  text-align: center;

  @include s.mq(tab) {
    padding-top: 20px;
  }
}

.topMenu__tableInner:first-child .topMenu__tableHeadCell {
  @include s.mq(tab) {
    padding-top: 0;
  }
}

.topMenu__tableBody {
  font-size: 2rem;
  font-family: s.$fontFamily2;
  line-height: 1.15;
  letter-spacing: 0.05em;
}

.topMenu__tableHeader {
  width: 75%;
}

.topMenu__tableText {
  padding-top: 20px;
}
