@use "../../setting/variables" as s;

/*******************************
| concept(concept.php)
*******************************/

.concept {
  overflow: hidden;
}

.concept__headingLv2Wrap {
  content: "";
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: block;
  background-size: 100%;
  width: 360px;
  height: 240px;
  margin-top: 80px;

  @include s.mq(l-pc) {
    width: 300px;
  }

  @include s.mq(tab) {
    width: 180px;
    height: 120px;
    top: 80px;
  }
}

.concept__headingLv2 {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -48%);
  -webkit-transform: translate(-50%, -48%);
  -ms-transform: translate(-50%, -48%);
  z-index: 1;
  font-size: 6.4rem;
  font-weight: bold;
  font-family: s.$fontFamily;
  color: s.$colorYellow;
  -webkit-text-stroke: 1px s.$colorBlack;

  @include s.mq(tab) {
    font-size: 5rem;
  }
}

.concept__headingImg {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-size: 100%;
}

.concept__headingImg2 {
  content: "";
  position: absolute;
  top: -15%;
  left: 115%;
  transform: translate(-115%, -15%);
  -webkit-transform: translate(-115%, -15%);
  -ms-transform: translate(-115%, -15%);
  background-size: 100%;
  width: 100px;

  @include s.mq(l-pc) {
    top: -10%;
    transform: translate(-115%, -10%);
    -webkit-transform: translate(-115%, -10%);
    -ms-transform: translate(-115%, -10%);
    width: 80px;
  }

  @include s.mq(tab) {
    width: 60px;

    top: -20%;
    left: 130%;
    transform: translate(-130%, -20%);
    -webkit-transform: translate(-130%, -20%);
    -ms-transform: translate(-130%, -20%);
  }
}

.concept__mediaWrap {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;

  @include s.mq(tab) {
    display: block;
  }
}

.concept__mediaWrap:nth-of-type(2) {
  @include s.mq(tab) {
    position: relative;
    padding-top: 80px;
  }
}

.concept__mediaWrap:nth-of-type(3) {
  flex-direction: row-reverse;

  @include s.mq(tab) {
    position: relative;
    padding-top: 0;
  }
}

.concept__mediaText {
  font-size: 1.8rem;
  font-family: s.$fontFamily2;
  line-height: 1.278;
  letter-spacing: 0.05em;
  color: s.$colorWhite;
}

.concept__mediaWrap:nth-of-type(2) .concept__mediaText {
  background-image: url(../img/speechBubble.webp);
  object-fit: cover;
  background-size: 100% 100%;
  width: 52%;
  min-width: 440px;
  padding: 9% 11% 8% 7%;

  @include s.mq(tab) {
    background-image: url(../img/speechBubble2.webp);
    position: absolute;
    top: 103%;
    left: 0;
    width: 100%;
    min-width: 0;
    padding: 15% 13% 13% 9%;
  }
  @include s.mq(x-sp) {
    padding: 21% 11% 17% 10%;
  }
}

.concept__mediaWrap:nth-of-type(3) .concept__mediaText {
  background-image: url(../img/frame.webp);
  object-fit: cover;
  background-size: 100% 100%;
  width: 40%;
  min-width: 440px;
  padding: 10% 5% 5% 5%;

  @include s.mq(tab) {
    padding: 5% 7% 5% 7%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    min-width: 0;
    background-size: 100% 100%;
    object-fit: cover;
  }
  @include s.mq(sp) {
    padding: 5% 10% 5% 10%;
  }
  @include s.mq(x-sp) {
    padding: 7% 10% 7% 10%;
    width: 85%;
  }
}

.concept__mediaImg {
  width: 40%;

  @include s.mq(tab) {
    width: 100%;
  }
}

.concept__mediaWrap:nth-of-type(3) .concept__mediaImg {
  @include s.mq(tab) {
    padding-top: 40%;
  }

  @include s.mq(x-sp) {
    padding-top: 60%;
  }
}
