@use "../../setting/variables" as s;

/*******************************
| hairStyle(hairStyle.php)
*******************************/
.hairStyle__headingLv2Wrap {
  content: "";
  position: relative;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: block;
  background-size: 100%;
  width: 360px;
  height: 240px;
  margin-top: 80px;

  white-space: nowrap;
  @include s.mq(l-pc) {
    width: 300px;
  }

  @include s.mq(tab) {
    width: 180px;
    height: 120px;
    top: 0;
  }
}

.hairStyle__headingLv2 {
  position: absolute;
  top: 48%;
  left: 55%;
  transform: translate(-55%, -48%);
  -webkit-transform: translate(-55%, -48%);
  -ms-transform: translate(-55%, -48%);
  z-index: 1;
  font-size: 6.4rem;
  font-weight: bold;
  font-family: s.$fontFamily;
  color: s.$colorYellow;
  -webkit-text-stroke: 1px s.$colorBlack;

  @include s.mq(tab) {
    font-size: 5rem;
  }
}

.hairStyle__headingImg {
  content: "";
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-35%, -50%);
  -webkit-transform: translate(-35%, -50%);
  -ms-transform: translate(-35%, -50%);
  background-size: 100%;
}

.hairStyle__headingImg2 {
  content: "";
  position: absolute;
  top: -15%;
  left: 115%;
  transform: translate(-115%, -15%);
  -webkit-transform: translate(-115%, -15%);
  -ms-transform: translate(-115%, -15%);
  background-size: 100%;
  width: 100px;

  @include s.mq(l-pc) {
    top: -10%;
    transform: translate(-115%, -10%);
    -webkit-transform: translate(-115%, -10%);
    -ms-transform: translate(-115%, -10%);
    width: 80px;
  }

  @include s.mq(tab) {
    width: 60px;
    top: -20%;
    left: 130%;
    transform: translate(-130%, -20%);
    -webkit-transform: translate(-130%, -20%);
    -ms-transform: translate(-130%, -20%);
  }
}

.swiper-wrapper {
  transition-timing-function: linear;
  align-items: end;
  padding-top: 40px;
}

.swiper-slideLink {
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  @include s.mq(tab) {
    width: 90% !important;
  }
}
