@use "../../setting/variables" as s;

/*******************************
| recruit(recruit.php)
*******************************/

.recruit {
  margin-top: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(../img/recruitBackground.webp);
  background-size: 100% 100%;
}

.recruit__headingLv2 {
  font-size: 6.4rem;
  font-weight: bold;
  font-family: s.$fontFamily2;
  line-height: 1.094;
  letter-spacing: 0.05em;
  color: s.$colorWhite;
  text-align: center;
  -webkit-text-stroke: 1px s.$colorBlack;

  @include s.mq(tab) {
    font-size: 5rem;
  }
}

.recruit__fellowText {
  padding-top: 20px;
  font-size: 3.2rem;
  font-family: s.$fontFamily2;
  line-height: 1.25;
  letter-spacing: 0.05em;
  color: s.$colorWhite;
  text-align: center;

  @include s.mq(tab) {
    font-size: 2rem;
  }
}

.br__xSp {
  display: none;
  @include s.mq(x-sp) {
    display: block;
  }
}

.recruit__contactWrap {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;

  @include s.mq(x-sp) {
    display: block;
    text-align: center;
  }
}

.recruit__contactLink {
  font-size: 1.8rem;
  font-family: s.$fontFamily2;
  line-height: 1.25;
  letter-spacing: 0.05em;
  color: s.$colorWhite;
  text-align: center;
  transition: all 0.3s;
}

.recruit__contactLink:hover {
  opacity: 0.7;
}
