@use "../../setting/variables" as s;

/*******************************
| salonInfo(salonInfo.php)
*******************************/
.salonInfo {
  overflow: hidden;
}

.salonInfo__headingLv2Wrap {
  position: relative;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: block;
  background-size: 100%;
  width: 360px;
  height: 240px;
  margin-top: 80px;

  @include s.mq(l-pc) {
    width: 300px;
  }

  @include s.mq(tab) {
    width: 180px;
    height: 120px;
    top: 0;
  }
}

.salonInfo__headingLv2 {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -51%);
  -webkit-transform: translate(-50%, -51%);
  -ms-transform: translate(-50%, -51%);
  z-index: 1;
  font-size: 6.4rem;
  font-weight: bold;
  font-family: s.$fontFamily;
  color: s.$colorYellow;
  -webkit-text-stroke: 1px s.$colorBlack;

  white-space: nowrap;
  @include s.mq(tab) {
    font-size: 5rem;
  }
}

.salonInfo__headingImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-size: 100%;
}

.salonInfo__headingImg2 {
  position: absolute;
  top: -15%;
  left: 115%;
  transform: translate(-115%, -15%);
  -webkit-transform: translate(-115%, -15%);
  -ms-transform: translate(-115%, -15%);
  background-size: 100%;
  width: 100px;

  @include s.mq(l-pc) {
    top: -10%;
    transform: translate(-115%, -10%);
    -webkit-transform: translate(-115%, -10%);
    -ms-transform: translate(-115%, -10%);
    width: 80px;
  }

  @include s.mq(tab) {
    width: 60px;

    top: -20%;
    left: 130%;
    transform: translate(-130%, -20%);
    -webkit-transform: translate(-130%, -20%);
    -ms-transform: translate(-130%, -20%);
  }
}

.salonInfo__container {
  display: flex;
  justify-content: space-around;

  @include s.mq(tab) {
    display: block;
  }
}

.salonInfo__headingLv3 {
  padding-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  font-family: s.$fontFamily2;
  color: s.$colorWhite;
  text-align: center;
}

.salonInfo__box {
  width: 40%;
  margin-left: auto;
  margin-right: auto;

  @include s.mq(tab) {
    padding-top: 20px;
    width: 100%;
  }
}

.salonInfo__iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%;
  aspect-ratio: 1 / 1;

  @include s.mq(tab) {
    width: 100%;
    height: 100%;
  }
}

.salonInfo__tableInner {
  font-size: 1.8rem;
  font-family: s.$fontFamily2;
  color: s.$colorWhite;
  white-space: nowrap;
  border-collapse: collapse;
}

.salonInfo__tableText {
  width: 100%;
}

.salonInfo__tableHeader,
.salonInfo__tableHead,
.salonInfo__tableText {
  border: dashed 2px s.$colorWhite;
  padding: 8px 20px;
  text-align: center;
}
