@use "../../setting/variables" as s;

/*******************************
| topMenu(topMenu.php)
*******************************/
.topMenu__headingLv2Wrap {
  position: relative;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: block;
  background-size: 100%;
  width: 360px;
  height: 240px;
  margin-top: 80px;

  @include s.mq(l-pc) {
    width: 300px;
  }

  @include s.mq(tab) {
    width: 180px;
    height: 120px;
    top: 0;
  }
}

.topMenu__headingLv2 {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -48%);
  -webkit-transform: translate(-50%, -48%);
  -ms-transform: translate(-50%, -48%);
  z-index: 1;
  font-size: 6.4rem;
  font-weight: bold;
  font-family: s.$fontFamily;
  color: s.$colorWhite;
  -webkit-text-stroke: 1px s.$colorBlack;

  @include s.mq(tab) {
    font-size: 5rem;
  }
}

.topMenu__headingImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-size: 100%;
}

.topMenu__headingImg2 {
  position: absolute;
  top: -15%;
  left: 115%;
  transform: translate(-115%, -15%);
  -webkit-transform: translate(-115%, -15%);
  -ms-transform: translate(-115%, -15%);
  background-size: 100%;
  width: 100px;

  @include s.mq(l-pc) {
    top: -10%;
    transform: translate(-115%, -10%);
    -webkit-transform: translate(-115%, -10%);
    -ms-transform: translate(-115%, -10%);
    width: 80px;
  }

  @include s.mq(tab) {
    top: -20%;
    left: 130%;
    transform: translate(-130%, -20%);
    -webkit-transform: translate(-130%, -20%);
    -ms-transform: translate(-130%, -20%);
    width: 60px;
  }
}

.topMenu__tableContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: s.$colorWhite;
  white-space: nowrap;

  @include s.mq(tab) {
    display: block;
  }
}

.topMenu__tableInner {
  margin-left: auto;
  margin-right: auto;
}

.topMenu__tableHeadCell {
  padding-left: 88px;
  padding-bottom: 20px;
  font-family: s.$fontFamily;
  font-weight: bold;
  font-size: max(3.2rem, 30px);
  line-height: 1.188;
  letter-spacing: 0.05em;
  color: s.$colorBlack;
  text-shadow: -2px -2px 0 s.$colorWhite, 2px -2px 0 s.$colorWhite,
    -2px 2px 0 s.$colorWhite, 2px 2px 0 s.$colorWhite;
  text-align: center;

  @include s.mq(tab) {
    padding-top: 20px;
  }
}

.topMenu__tableInner:first-child .topMenu__tableHeadCell {
  @include s.mq(tab) {
    padding-top: 0;
  }
}

.topMenu__tableBody {
  font-size: 2rem;
  font-family: s.$fontFamily2;
  line-height: 1.15;
  letter-spacing: 0.05em;
}

.topMenu__tableRow {
  height: 40px;
}

.topMenu__tableHeader {
  width: 75%;
}
