@use "../setting/variables" as s;

/*******************************
| archiveStyle(archive-style.php)
*******************************/
.archiveStyle {
  padding-top: 80px;
  padding-bottom: 80px;

  @include s.mq(tab) {
    padding-top: 180px;
  }
}

.archiveStyle__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  padding-top: 40px;

  @include s.mq(tab) {
    gap: 20px;
  }
}

.archiveStyle__card {
  overflow: hidden;

  @include s.mq(tab) {
    margin-top: 20px;
  }
}

.attachment-medium_large {
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: 0.3s all;
  cursor: pointer;
}

.attachment-medium_large:hover {
  transform: scale(1.05, 1.05);
}

.archivesStaff__details {
  font-size: 1.6rem;
  font-family: s.$fontFamily2;
  color: s.$colorWhite;
}

.archivesStaff__headingLv2 {
  font-weight: normal;
}

.pagination {
  padding-top: 20px;
  text-align: center;
}

.page-numbers {
  font-size: 2rem;
  padding-left: 8px;
  padding-right: 8px;
  color: s.$colorBlue;
  transition: 0.3s all;
}

.page-numbers:hover {
  color: s.$colorYellow;
}

.current {
  color: s.$colorWhite;
}

.current:hover {
  color: s.$colorWhite;
}

.modal__container {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 99;
  width: 100%;
  height: 100vh;
}

.modal__wrap {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.modal__img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 90%;
  max-width: 600px;
}
