@use "../setting/variables" as s;

/*******************************
| contact(page-contact.php)
*******************************/
.contact {
  padding-top: 80px;
  padding-bottom: 80px;
}

.wpcf7-form {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  width: 80%;
}

.contact__label {
  padding-top: 20px;
  width: 100%;
}

.contact__text {
  font-size: 1.8rem;
  font-family: s.$fontFamily2;
  line-height: 1.278;
  letter-spacing: 0.05em;
  color: s.$colorWhite;
}

.contact__required::after {
  content: "必須";
  position: static;
  padding: 0 0.1em 0.1em 0.1em;
  margin-left: 8px;
  border-radius: 5px;
  background-color: s.$colorRed;
  color: s.$colorWhite;
  line-height: 1;
}

.wpcf7-form-control {
  margin-top: 8px;
  width: 100%;
  border: 1px solid s.$colorWhite;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 1.8rem;
  font-family: s.$fontFamily2;
  line-height: 1.278;
  letter-spacing: 0.05em;
  color: s.$colorWhite;
}

input:-internal-autofill-selected {
  background-color: #fff !important;
}

input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  background-color: #fff !important;
  color: s.$colorBlack !important;
}

input:focus,
textarea:focus {
  background-color: #fff !important;
  color: s.$colorBlack !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  box-shadow: 0 0 0 1000px s.$colorWhite inset;
}

.contact__submitWrap input,
.contact__submitWrap textarea {
  background-color: s.$colorBlack !important;
  color: s.$colorWhite !important;
  transition: all 0.3s;
}

.contact__submitWrap input:hover,
.contact__submitWrap textarea:hover {
  background-color: s.$colorWhite !important;
  color: s.$colorBlack !important;
}

.contact__submitWrap .wpcf7-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid s.$colorWhite;
}

.wpcf7-spinner {
  display: none;
}

// 確認画面

#wpcf7cpcnf {
  padding-top: 40px;
  table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 1.8rem;
    font-family: s.$fontFamily2;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: s.$colorWhite;
  }

  th {
    text-align: left;
    padding-right: 20px;
    white-space: nowrap;
  }

  tr:last-child td p {
    max-height: 200px;
    overflow-y: scroll;
  }
}

.wpcf7cp-btns {
  display: flex;
  justify-content: center;
}

.wpcf7cp-cfm-edit-btn {
  width: 180px;
  height: 36px;
  background-color: s.$colorBlack;
  color: s.$colorWhite;
  transition: all 0.3s;
}

.wpcf7cp-cfm-edit-btn:hover {
  background-color: s.$colorWhite;
  color: s.$colorBlack;
}

.wpcf7cp-cfm-submit-btn {
  width: 180px;
  height: 36px;
  background-color: s.$colorBlack;
  color: s.$colorWhite;
  transition: all 0.3s;
}

.wpcf7cp-cfm-submit-btn:hover {
  background-color: s.$colorWhite;
  color: s.$colorBlack;
}
