@use "../setting/variables" as s;

/*******************************
| contact(page-contact.php)
*******************************/
.contact {
  padding-top: 80px;
  padding-bottom: 80px;
}

.wpcf7-form {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  width: 80%;
}

.contact__label {
  padding-top: 20px;
  width: 100%;
}

.contact__text {
  font-size: 1.8rem;
  font-family: s.$fontFamily2;
  line-height: 1.278;
  letter-spacing: 0.05em;
  color: s.$colorWhite;
}

.contact__required::after {
  content: "必須";
  position: static;
  padding: 0 0.1em 0.1em 0.1em;
  margin-left: 8px;
  border-radius: 5px;
  background-color: s.$colorRed;
  color: s.$colorWhite;
  line-height: 1;
}

.wpcf7-form-control {
  margin-top: 8px;
  width: 100%;
  border: 1px solid s.$colorWhite;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 1.8rem;
  font-family: s.$fontFamily2;
  line-height: 1.278;
  letter-spacing: 0.05em;
  color: s.$colorWhite;
}

textarea:focus {
  background-color: s.$colorWhite;
  color: s.$colorBlack;
}

.contact__submitWrap {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid s.$colorWhite;
}

.contact__submitBox {
  position: relative;
  z-index: 1;
  transition: 0.3s ease;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.contact__submitBox::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: s.$colorWhite;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}

.contact__submitBox:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.contact__label .wpcf7-submit {
  margin-top: 0;
  border: none;
  height: 100%;
  line-height: 1;
  padding: 0;

  // background-color: s.$colorBlack;
}

.contact__submitBox:hover .wpcf7-submit {
  transition: 0.3s ease;
  color: s.$colorBlack;
}

// 確認画面

#wpcf7cpcnf {
  padding-top: 40px;
  table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 1.8rem;
    font-family: s.$fontFamily2;
    line-height: 1.278;
    letter-spacing: 0.05em;
    color: s.$colorWhite;
  }

  th {
    text-align: left;
    padding-right: 20px;
    white-space: nowrap;
  }

  tr:last-child td p {
    max-height: 200px;
    overflow-y: scroll;
  }
}

.wpcf7cp-btns {
  display: flex;
  justify-content: center;
}

.wpcf7cp-cfm-edit-btn {
  width: 180px;
  height: 36px;
}

.wpcf7cp-cfm-submit-btn {
  width: 180px;
  height: 36px;
}
