@use "../setting/variables" as s;

/*******************************
| menu(page-menu.php)
*******************************/
.menu {
  padding-top: 80px;
  padding-bottom: 80px;
  @include s.mq(tab) {
    padding-top: 120px;
    padding-bottom: 40px;
  }
}

.menu__tableContainer {
  display: grid;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: s.$colorWhite;
  white-space: nowrap;
  gap: 80px;
  grid-template-columns: minmax(300px, 30%) minmax(300px, 30%);

  place-content: center;
  @include s.mq(tab) {
    display: block;
  }
}

.menu__tableInner {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include s.mq(tab) {
    max-width: 228px;
  }
}

.menu__tableHead {
  display: block;
}

.menu__tableHeadRow {
  display: block;
}

.menu__tableHeadCell {
  padding-bottom: 20px;
  font-family: s.$fontFamily;
  font-weight: bold;
  font-size: max(3.2rem, 30px);
  line-height: 1.188;
  letter-spacing: 0.05em;
  color: s.$colorBlack;
  text-shadow: -2px -2px 0 s.$colorWhite, 2px -2px 0 s.$colorWhite,
    -2px 2px 0 s.$colorWhite, 2px 2px 0 s.$colorWhite;
  text-align: center;

  display: block;
  @include s.mq(tab) {
    padding-top: 20px;
  }
}

.menu__tableInner:first-child .menu__tableHeadCell {
  @include s.mq(tab) {
    padding-top: 0;
  }
}

.menu__tableBody {
  display: block;
  width: 100%;
  font-size: 2rem;
  font-family: s.$fontFamily2;
  line-height: 1.15;
  letter-spacing: 0.05em;
}

.menu__tableRow {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.menu__tableHeader {
  display: inline-block;
  width: 65%;
  margin-right: 5%;
}

.menu__tableText {
  display: inline-block;
  width: 30%;
  text-align: right;
}
